<!DOCTYPE html>
<html>

<head>

  <link href="httP://amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet">
  <script src= "http://amp.azure.net/libs/amp/latest/azuremediaplayer.min.js"></script>

</head>
<body>


<div>
  <!-- <video id="azuremediaplayer1" class="azuremediaplayer amp-default-skin player" >

      <p class="amp-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
</video> -->

<video id="azuremediaplayer" class="azuremediaplayer amp-default-skin amp-big-play-centered" controls autoplay width="640" height="400" poster="" data-setup='{"nativeControlsForTouch": false}' tabindex="0" logo='{ "enabled": false }'>
        <source src="https://amssamples.streaming.mediaservices.windows.net/91492735-c523-432b-ba01-faba6c2206a2/AzureMediaServicesPromo.ism/manifest" type="application/vnd.ms-sstr+xml" />
        <p class="amp-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
</video>

</div>

<!-- <script src="scripts/player.js"></script> -->
</body>
</html>
